{% extends 'user.html' %}

{% block content %}

    <p><strong>Имя:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Баланс:</strong> {{ balance|roundit:2 }} gt</p>

    {% if ipo_projects %}
    <h3>IPO</h3>

    <table class="table table-striped" style="margin-top: 30px;">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Инвесторы</th>
            <th>Вложено</th>
            <th>Действия</th>
        </tr>
        {% for project in ipo_projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.investors_count }}</td>
                <td>{{ project|invest_sum:request.user|roundit:2 }}</td>
                <td>
                    <form method="POST" action="/invest/{{ project.id }}">
                        {% csrf_token %}
                        <ul class="iform">{{ invest_forms|get_item:project.id }}
                        <li><button>Вложить</button></li></ul>
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>

    {% endif %}


    <h3>Акции</h3>
    {% if market_projects %}

    <table class="table table-striped" style="margin-top: 30px;">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Баланс акций</th>
            <th>Стоимость акции</th>
            <th>Действия</th>
        </tr>
        {% for project in market_projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project|stock_sum:request.user }}
                    {% if project|frozen_stock_sum:request.user > 0 %}
                        ( +{{ project|frozen_stock_sum:request.user }} )
                    {% endif %}
                    <br>
                    <small>{{ project|all_stock_sum:request.user|multiply:project.stock_price|roundit:2 }} gt</small>
                </td>
                <td>
                    {{ project.stock_price|roundit:4 }}

                    {% if project|stock_sum:request.user %}
                        {% if project|percent:request.user < 0 %}
                            <small style="color: red;">- {{ project|percent:request.user|multiply:-1 }}%</small>
                        {% else %}
                            <small style="color: green;">+ {{ project|percent:request.user }}%</small>
                        {% endif %}
                    {% else %}
                        {% if project.percent_change < 0 %}
                            <small style="color: red;">- {{ project.percent_change|multiply:-1 }}%</small>
                        {% else %}
                            <small style="color: green;">+ {{ project.percent_change }}%</small>
                        {% endif %}
                    {% endif %}
                    <br>
                    <small>Покупка: {{ project.stock_price|multiply:1.02|roundit:2 }}<br>
                        Продажа: {{ project.stock_price|multiply:0.98|roundit:2 }}</small>
                </td>
                <td>
                    <form method="POST" action="/stock/{{ project.id }}">
                        {% csrf_token %}<ul class="iform">{{ stock_forms|get_item:project.id }}<li><input type="submit" name="sell"
                                                                                    value="Продать"/></li><li><input
                            type="submit" name="buy" value="Купить"/></li></ul></form>
                </td>
            </tr>
        {% endfor %}

    </table>
    {% else %}
        <p>В данный момент на рынке нет доступных акций.</p>
    {% endif %}

    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Памятка</h4>
        <ul>
            <li>После регистрации вы автоматически получайте 1000 gt на счет + еще 1000 gt в акциях вашего направления (проекта) после завершения его IPO.</li>
            <li>Средства на счете можно тратить на покупку акций, либо на вложения на этапе IPO.</li>
            <li>Стоимость проекта равна сумме всех вложений в него на этапе IPO + 1000 gt на каждого участника, который принимает в нем участие.</li>
            <li>После завершения IPO вы получаете долю в акциях направления (проекта) пропорционально вашему вложению.</li>
            <li>Если вы получили акции, как участник проекта, то продать их нельзя, но в конце проекта их стоимость вернется на ваш счет.</li>
            <li>Цена покупки/продажи акции отличается от рыночной на 2%.</li>
            <li>Когда кто-либо покупает акцию, ее стоимость <i>растет</i> (суммарная стоимость проекта возрастает на 2% от сделки).</li>
            <li>Когда кто-либо продает акцию, ее стоимость <i>падает</i> (суммарная стоимость проекта падает на 2% от сделки).</li>
            <li>В конце дня (после обсуждения на оргсобрании) проводится корректировка стоимости в зависимости от результатов работы за день. Решение принимается директором.</li>
            <li>После ежедневной корректировки вы получите дивиденты в размере 5% от стоимости ваших акций.</li>
            <li>После завершения проекта стоимость имеющихся акций возвращается на счет.</li>
            <li>В конце смены заработанные средства можно будет потратить на аукционе.</li>
        </ul>
    </div>

    <h3>Последние операции</h3>

    <ul>
        {% for record in request.user.billingrecord_set.all %}
            <li>{{ record.amount|roundit:2 }} ({{ record.comment }});</li>
        {% endfor %}
    </ul>

{% endblock %}