{% extends 'manager.html' %}

{% block content %}

    <p><strong>Баланс:</strong> {{ balance }} gt</p>

    <h2>IPO</h2>

    <table class="table table-striped" style="margin-top: 30px;">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Стоимость</th>
            <th>Действия</th>
        </tr>
        {% for project in ipo_projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.price }}</td>
                <td></td>
            </tr>
        {% endfor %}

    </table>


    <h2>Торгуются</h2>

    <table class="table table-striped" style="margin-top: 30px;">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Стоимость акции</th>
            <th>Действия</th>
        </tr>
        {% for project in market_projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.stock_price }}</td>
                <td><a href="{% url 'edit_project' pk=project.id %}">Изменить</a></td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}