{% extends 'manager.html' %}

{% block content %}

    <h2>IPO</h2>
    <table class="table table-striped" style="margin-top: 30px;">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Стоимость</th>
            <th>Действия</th>
        </tr>
        {% for project in ipo_projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.ipo_price }}</td>
                <td><a href="{% url 'manager.edit_project' pk=project.id %}">Изменить</a><br>
                <a href="{% url 'manager.project_to_market' pk=project.id %}">Завершить IPO</a></td>
            </tr>
        {% endfor %}

    </table>

    <form method="POST">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Добавить</button>
    </form>

    <h2>Торгуются</h2>

    <table class="table table-striped" style="margin-top: 30px;">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Стоимость акции</th>
            <th>Изменить</th>
            <th>Действия</th>
        </tr>
        {% for project in market_projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.stock_price }}
                {% if project.percent_change < 0 %}
                    <small style="color: red;">- {{ project.percent_change }}%</small>
                {% else %}
                    <small style="color: green;">+ {{ project.percent_change }}%</small>
                {% endif %}

                </td>
                <td><form method="POST" action="/manager/projects/{{ project.id }}/change">{% csrf_token %}{{ change_forms|get_item:project.id }}<button>Изменить</button> </form></td>
                <td><a href="{% url 'manager.edit_project' pk=project.id %}">Изменить</a><br>
                <a href="{% url 'manager.project_to_end' pk=project.id %}">Завершить проект</a></td></td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}